configuration {
    modi: "drun,run,window";
    show-icons: true;
    drun-display-format: "{name}";
    display-drun: "󰣇";
    display-run: "";
    display-window: "";
    font: "JetBrainsMonoNL Nerd Font Mono 10";
    icon-theme: "Papirus";
}

* {
    bg: #30263d;
    bg-alt: #3a2d49;
    fg: #f5e9ed;
    muted: #c6b7c5;
    accent: #f2a7bb;
    accent-strong: #dd7878;
    border: #dc8a78;
    transparent: rgba(0, 0, 0, 0%);
}

window {
    width: 52em;
    height: 32em;
    border: 2px;
    border-color: @border;
    border-radius: 18px;
    background-color: @bg;
    padding: 0px;
}

mainbox {
    orientation: vertical;
    children: [ listbox, mode-switcher ];
    spacing: 0px;
    padding: 18px;
    background-color: @transparent;
}

listbox {
    orientation: vertical;
    children: [ inputbar, listview ];
    spacing: 8px;
    padding: 0px;
    background-color: @transparent;
}

inputbar {
    children: [ prompt, entry ];
    padding: 10px 14px;
    border-radius: 10px;
    background-color: @bg-alt;
    text-color: @fg;
}

prompt {
    enabled: true;
    padding: 0px 10px 0px 0px;
    text-color: @accent;
}

entry {
    background-color: @bg-alt;
    text-color: @fg;
    placeholder: "Search applications";
    placeholder-color: @muted;
}

listview {
    columns: 5;
    lines: 2;
    spacing: 10px;
    padding: 12px 4px;
    fixed-height: true;
    fixed-columns: true;
    scrollbar: false;
    layout: vertical;
    background-color: @transparent;
}

element {
    orientation: vertical;
    spacing: 5px;
    padding: 10px 4px;
    border-radius: 12px;
    background-color: @transparent;
    text-color: @fg;
}

element selected.normal {
    background-color: @accent-strong;
    text-color: #30263d;
}

element-icon {
    size: 4.2em;
    horizontal-align: 0.5;
    background-color: @transparent;
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;
    background-color: @transparent;
    text-color: inherit;
}

mode-switcher {
    orientation: horizontal;
    spacing: 14px;
    padding: 12px 70px 0px;
    background-color: @transparent;
}

button {
    expand: true;
    padding: 12px;
    border-radius: 999px;
    background-color: @bg-alt;
    text-color: @muted;
}

button selected {
    background-color: @accent;
    text-color: @bg;
}
