* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #4c4f69;
}

#custom-launcher {
    padding: 0 15px;
    color: #8839ef;
    font-size: 17px;
}

#workspaces button {
    margin: 5px 2px;
    padding: 0 10px;
    color: #9ca0b0;
    background: transparent;
    border-radius: 8px;
}

#workspaces button.active {
    color: #eff1f5;
    background: #dd7878;
}

#clock, #network, #pulseaudio, #battery, #custom-settings, #custom-power, #tray {
    margin: 5px 2px;
    padding: 0 11px;
    border-radius: 8px;
    background: #eff1f5;
    color: #4c4f69;
}

#clock {
    color: #8839ef;
}

#custom-launcher:hover,
#workspaces button:hover,
#clock:hover, #network:hover, #pulseaudio:hover, #battery:hover,
#custom-settings:hover, #custom-power:hover, #tray:hover {
    background: #dc8a78;
    color: #eff1f5;
}

#custom-settings {
    color: #8839ef;
}

#custom-power {
    color: #dd7878;
}

#battery.warning {
    color: #e0af68;
}

#battery.critical {
    color: #f7768e;
}
