window {
    margin: 0px;
    border: 2px solid #7aa2f7;
    border-radius: 14px;
    background-color: rgba(26, 27, 38, 0.96);
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
}

#input {
    margin: 12px;
    padding: 10px 14px;
    border: 1px solid #414868;
    border-radius: 9px;
    color: #c0caf5;
    background-color: #1f2335;
}

#inner-box {
    margin: 0px 10px 10px;
}

#outer-box {
    margin: 0px;
    padding: 0px;
}

#scroll {
    margin: 0px;
}

#text {
    margin: 0px 8px;
    color: #c0caf5;
}

#entry {
    padding: 10px;
    border-radius: 8px;
}

#entry:selected {
    background-color: #33467c;
}

#entry:selected #text {
    color: #ffffff;
}
