window {
  margin: 0px;
  border: 2px solid #7aa2f7;
  border-radius: 12px;
  background-color: #1f2335;
}

#input {
  margin: 16px;
  padding: 10px 14px;
  border: 1px solid #3b4261;
  border-radius: 8px;
  color: #c0caf5;
  background-color: #24283b;
}

#inner-box {
  margin: 0px 12px 12px;
}

#entry {
  padding: 12px;
  border-radius: 8px;
  color: #a9b1d6;
}

#entry:selected {
  color: #1f2335;
  background-color: #7aa2f7;
}

#text {
  margin: 6px;
}
